@import url("https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,400;1,100;1,300&family=Montserrat:ital,wght@0,400;0,600;1,400;1,600&family=Noto+Sans+Vai&family=Raleway:wght@400;500;600;700&display=swap");
/* Monsetrrat - Grandstander - Noto Sans Vai - Raleway */
@keyframes from-right {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
* {
  /*outline: 1px solid green;*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  top: 0;
  z-index: 2;
  position: sticky;
  padding: 1.5%;
  box-shadow: 2px 2px 5px black;
  background: rgb(175, 95, 107);
}
header .container {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
header .container__logo--img {
  width: 20%;
  border-radius: 100%;
}
header .container .nav__list {
  display: flex;
  justify-content: space-around;
}
header .container .nav__list--items {
  padding: 0.5rem;
  list-style: none;
}
header .container .nav__list--items-li {
  text-decoration: none;
  color: blanchedalmond;
  text-shadow: 1px 1px 2px rgb(58, 56, 56);
}
header .container .nav__list--items-li:hover {
  color: rgb(104, 87, 66);
}

.home {
  background: linear-gradient(to bottom, rgb(241, 235, 236), rgb(238, 173, 178));
}
.home__portada {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home__portada--titulo {
  top: 70%;
  width: 100%;
  font-size: 3rem;
  position: absolute;
  text-align: center;
  font-style: oblique;
  color: rgb(97, 20, 45);
  text-shadow: 1px 1px 2px rgb(233, 225, 225);
}
.home__portada--img {
  width: 100%;
  height: 300px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5019607843);
}
.home__container {
  width: 100%;
  padding: 5rem 0;
}
.home__container--card {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 600;
  font-size: 1.8rem;
  margin: 0 0.8rem;
  padding: 2rem 0.5rem;
  border-radius: 10px;
  color: rgb(131, 83, 98);
  text-shadow: 1px 1px 2px rgb(58, 56, 56);
  /*box-shadow: map-get($sombras, sombraBox-4);*/
}
.home__container--card-img {
  width: 230px;
  height: 230px;
  margin: 0 0 1rem 0;
  border-radius: 100%;
  border: 10px solid rgb(209, 136, 148);
}
.home__container--card-line {
  width: 20%;
  border: 1px solid;
  border-radius: 100%;
  margin: 1rem 0 2rem 0;
  color: rgb(131, 83, 98);
}

footer {
  padding: 1rem 0;
  text-align: center;
  color: bisque;
  background: rgb(175, 95, 107);
  text-shadow: 1px 1px 2px black;
  box-shadow: -2px -2px 5px black;
}
footer .footer__container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
footer .footer__container--redes {
  padding-left: 1rem;
  color: rgb(240, 189, 132);
}
footer .autor {
  text-decoration: none;
  color: rgb(240, 189, 132);
}

.service {
  text-align: center;
  padding: 0 0 5rem 0;
  background: linear-gradient(to bottom, rgb(241, 235, 236), rgb(238, 173, 178));
}
.service__titulo {
  padding: 3% 0;
  font-weight: 600;
  font-size: 2.1rem;
  color: rgb(97, 20, 45);
  text-shadow: 1px 1px 2px black;
}
.service__container {
  text-align: center;
}
.service__container--card {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
  padding-top: 2rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  color: rgb(175, 119, 128);
  text-shadow: 1px 1px 2px black;
}
.service__container--card-img {
  width: 230px;
  height: 230px;
  border-radius: 100%;
  border: 2px solid rgb(209, 136, 148);
}
.service__container--card-info {
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.service__container--card-info .service__card--name {
  font-size: 1.5rem;
}
.service__container--card-info .service__card--line {
  width: 20%;
  margin: 2rem;
  border: 1px solid;
  border-radius: 100%;
  color: rgb(131, 83, 98);
}
.service__container--card-info .service__card--description {
  padding: 0 0.5rem;
  text-align: left;
}
.service__container .box1 {
  background: rgb(219, 200, 200);
  border: 1px solid rgb(187, 185, 185);
}
.service__container .box2 {
  background: rgb(219, 191, 191);
  border: 1px solid rgb(168, 167, 167);
}

.nosotros {
  padding: 2rem 0;
  text-align: center;
  background: linear-gradient(to bottom, rgb(236, 226, 228), rgb(238, 173, 178));
}
.nosotros .team {
  padding: 2% 10%;
}
.nosotros .team__titulo {
  font-size: 3rem;
  font-weight: 600;
  color: rgb(97, 20, 45);
  text-shadow: 1px 1px 2px rgb(58, 56, 56);
}
.nosotros .team__cards {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.nosotros .team__cards .team__card {
  width: 100%;
  margin: 2rem;
  padding: 15% 2% 10% 2%;
  /*--- animacion ----*/
  animation: from-right 2s ease;
  background: 1px solid rgb(223, 211, 211);
  box-shadow: 10px 10px 10px -5px rgb(179, 179, 179);
}
.nosotros .team__cards .team__card--img {
  width: 100%;
  border: 1px solid rgb(223, 211, 211);
}
.nosotros .team__cards .team__card--nombre {
  margin-top: 10%;
  font-size: 2rem;
  font-weight: 500;
  color: rgb(117, 72, 72);
  text-shadow: 1px 1px 2px rgb(66, 65, 65);
}
.nosotros .somos {
  padding: 2% 10%;
  margin-bottom: 10%;
}
.nosotros .somos__container--info-titulo {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 10%;
  color: rgb(97, 20, 45);
  text-shadow: 1px 1px 2px rgb(58, 56, 56);
}
.nosotros .somos__container--info-descripcion {
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;
  margin-top: 3rem;
}
.nosotros .somos__container--video-iframe {
  height: 250px;
  margin-top: 2rem;
  border: 1px solid rgb(97, 20, 45);
}

.galeria {
  padding: 2rem 0;
  text-align: center;
  background: linear-gradient(to bottom, rgb(241, 235, 236), rgb(238, 173, 178));
  color: rgb(97, 20, 45);
  text-shadow: 1px 1px 2px black;
}
.galeria__titulo {
  padding: 1rem 0;
}
.galeria__box {
  padding: 2rem;
}
.galeria__box--img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5019607843);
}

.contacto {
  padding: 2rem 0;
  color: rgb(97, 20, 45);
  text-shadow: 1px 1px 2px black;
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../assets/contacto/depositphotos_317114954-stock-photo-closeup-of-nails-in-uv.webp);
  background-size: cover;
  background-position-y: 20%;
  background-position-x: center;
  background-position: center 20%;
}
.contacto .form {
  display: flex;
  flex-direction: column;
}
.contacto .form__titulo {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.contacto .form__container--info {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 1rem;
  padding: 2rem 0;
  border-radius: 5%;
  border: 1px solid rgb(97, 20, 45);
}
.contacto .form__container--info-label {
  width: 75%;
}
.contacto .form__container--info-input {
  width: 75%;
  margin-bottom: 1rem;
}
.contacto .form__container--info-textarea {
  margin-top: 1rem;
  max-width: 75%;
  min-width: 75%;
  min-height: 150px;
  max-height: 200px;
}
.contacto .form__container--info-btn {
  margin-top: 1rem;
  width: 30%;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  border-radius: 5%;
  color: rgb(97, 20, 45);
  border: 1px solid rgb(97, 20, 45);
}
.contacto .form__container--ubicacion {
  padding: 2.5rem 1rem 1rem;
  line-height: 3;
}
.contacto .form__container--ubicacion-titulo {
  line-height: 1;
  font-weight: 600;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
}
.contacto .form__container--ubicacion-domicilio, .contacto .form__container--ubicacion-phone, .contacto .form__container--ubicacion-mail {
  color: black;
}
.contacto .form__container--ubicacion-mapa {
  margin-top: 2rem;
}
.contacto .form__container--ubicacion .icono {
  margin-right: 1rem;
  font-size: 1.3rem;
}
.contacto .preguntas {
  border: 1px solid rgb(97, 20, 45);
  margin: 0 1rem;
  padding: 1rem;
  border-radius: 2%;
}
.contacto .preguntas__titulo {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.contacto .preguntas__pregunta {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.contacto .preguntas__respuesta {
  color: rgb(43, 41, 41);
  padding: 0 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  header .container {
    flex-direction: row;
    justify-content: space-between;
  }
  header .container__logo {
    width: 100%;
    text-align: left;
    padding-left: 1rem;
  }
  header .container__logo--img {
    width: 50%;
  }
  header .container .nav__list--items {
    padding: 0 1rem;
    margin: 0 0.5rem;
  }
  header .container .nav__list--items-li {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .home__portada--titulo {
    font-size: 5rem;
  }
  .home__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .home__container--card {
    margin: 1rem 0.5rem;
  }
  .home__container--card-img {
    width: 200px;
    height: 200px;
  }
  .service__titulo {
    font-size: 3rem;
  }
  .service__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .service__container--card {
    width: 80%;
    margin: 1rem 0.5rem;
  }
  .service__container--card-img {
    width: 400px;
    height: 400px;
  }
  .service__container--card-info .service__card--name {
    font-size: 2rem;
  }
  .nosotros .team {
    display: flex;
    flex-direction: column;
    padding: 2%;
  }
  .nosotros .team__cards {
    display: flex;
    flex-direction: row;
  }
  .nosotros .team__cards .team__card {
    margin: 1rem 0.5rem;
    padding: 8% 1% 5% 1%;
  }
  .nosotros .somos {
    padding: 5rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nosotros .somos__container--info {
    width: 50%;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
  }
  .nosotros .somos__container--info-titulo {
    text-align: left;
    margin-bottom: 2rem;
  }
  .nosotros .somos__container--info-descripcion {
    margin-top: 0;
  }
  .galeria__box {
    display: flex;
    flex-wrap: wrap;
  }
  .galeria__box--img {
    margin: 1rem;
    flex: 1 1 25%;
  }
  .contacto .form__titulo {
    font-size: 3rem;
  }
  .contacto .form__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .contacto .form__container--info {
    width: 50%;
  }
  .contacto .form__container--ubicacion {
    padding: 0 1rem;
    line-height: 3;
  }
  .contacto .form__container--ubicacion-titulo {
    margin-bottom: 1.5rem;
  }
  .contacto .preguntas__titulo {
    font-size: 2rem;
  }
  footer {
    font-size: 1.5rem;
    font-weight: 600;
  }
}
@media (min-width: 1024px) {
  header {
    padding: 1%;
  }
  header .container__logo--img {
    width: 20%;
  }
  header .container .nav__list--items {
    padding: 0.5rem 1rem;
  }
  header .container .nav__list--items-li {
    font-size: 1.8rem;
  }
  .home__portada-img {
    height: 600px;
  }
  .home__container--card {
    max-width: 30%;
    flex: 1 1 30%;
  }
  .home__container--card-img {
    width: 200px;
    height: 200px;
  }
  .service__container {
    padding: 0 5rem;
    flex-direction: row;
    justify-content: center;
  }
  .service__container--card {
    width: 35%;
    margin: 0.5rem;
  }
  .service__container--card-img {
    width: 250px;
    height: 250px;
    /*border: map-get($bordes , borde-3);*/
  }
  .service__container--card-info .service__card--name {
    font-size: 1.5rem;
  }
  .nosotros .somos {
    margin: 0 2rem;
  }
  .nosotros .somos__container--video {
    width: 45%;
  }
  .contacto .form__titulo {
    font-size: 3.5rem;
  }
  .contacto .form__container--ubicacion {
    width: 50%;
  }
  footer .footer__container--redes {
    padding-left: 2rem;
  }
}
@media (min-width: 1200px) {
  header .container .nav__list--items {
    margin: 0 1.5rem;
  }
  header .container .nav__list--items-li {
    font-size: 1.5rem;
  }
  .home__portada--img {
    height: 550px;
  }
  .home__container--card {
    max-width: 30%;
    flex: 1 1 5%;
  }
  .home__container--card-img {
    width: 230px;
    height: 230px;
  }
  .nosotros .somos__container--info-descripcion {
    font-size: 1.2rem;
    line-height: 2;
  }
  .nosotros .somos__container--video-iframe {
    width: 130%;
    height: 300px;
  }
  .galeria {
    font-size: 1.5rem;
  }
  .galeria__box--img {
    flex: 1 1 20%;
  }
  .contacto {
    padding: 2rem 5rem;
  }
}

/*# sourceMappingURL=style.css.map */
