@import url("https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,400;1,100;1,300&family=Montserrat:ital,wght@0,400;0,600;1,400;1,600&family=Noto+Sans+Vai&family=Raleway:wght@400;500;600;700&display=swap");
/* Monsetrrat - Grandstander - Noto Sans Vai - Raleway */
* {
  /*outline: 1px solid green;*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Monserrat";
}

header {
  top: 0;
  z-index: 2;
  position: sticky;
  padding: 1.5%;
  box-shadow: 2px 2px 5px black;
  background: rgb(175, 95, 107);
}
header .container {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
header .container__logo--img {
  width: 20%;
  border-radius: 100%;
}
header .container .nav__list {
  display: flex;
  justify-content: space-around;
}
header .container .nav__list--items {
  padding: 0.5rem;
  list-style: none;
}
header .container .nav__list--items-li {
  text-decoration: none;
  color: blanchedalmond;
  text-shadow: 1px 1px 2px rgb(58, 56, 56);
}
header .container .nav__list--items-li:hover {
  color: rgb(104, 87, 66);
}

.main__index {
  background: linear-gradient(to bottom, rgb(241, 235, 236), rgb(238, 173, 178));
}
.main__index .portada {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main__index .portada__titulo {
  top: 70%;
  width: 100%;
  font-size: 3rem;
  position: absolute;
  text-align: center;
  font-style: oblique;
  font-family: "Monserrat";
  color: rgb(97, 20, 45);
  text-shadow: 1px 1px 2px rgb(233, 225, 225);
}
.main__index .portada__img {
  width: 100%;
  height: 300px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5019607843);
}
.main__index .service__container--index {
  width: 100%;
  padding: 5rem 0;
}
.main__index .service__container--index .service__card--index {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 600;
  font-size: 1.8rem;
  margin: 0 0.8rem;
  padding: 2rem 0.5rem;
  border-radius: 10px;
  color: rgb(131, 83, 98);
  text-shadow: 1px 1px 2px rgb(58, 56, 56);
  /*box-shadow: map-get($sombras, sombraBox-4);*/
}
.main__index .service__container--index .service__card--index .service__card--imgIndex {
  width: 230px;
  height: 230px;
  margin: 0 0 1rem 0;
  border-radius: 100%;
  border: 10px solid rgb(209, 136, 148);
}
.main__index .service__container--index .service__card--index .service__card--lineIndex {
  width: 20%;
  border: 1px solid;
  border-radius: 100%;
  margin: 1rem 0 2rem 0;
  color: rgb(131, 83, 98);
}

footer {
  padding: 1rem 0;
  text-align: center;
  color: bisque;
  background: rgb(175, 95, 107);
  text-shadow: 1px 1px 2px black;
  box-shadow: -2px -2px 5px black;
}
footer .footer__container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
footer .footer__container .icono__redes {
  padding-left: 1rem;
  color: rgb(240, 189, 132);
}
footer .autor {
  text-decoration: none;
  color: rgb(240, 189, 132);
}

.main__service {
  text-align: center;
  padding: 0 0 5rem 0;
  background: linear-gradient(to bottom, rgb(241, 235, 236), rgb(238, 173, 178));
  background: linear-gradient(to bottom, rgb(241, 235, 236), rgb(238, 173, 178));
}
.main__service .service__titulo {
  padding: 3% 0;
  font-weight: 600;
  font-size: 2.1rem;
  color: rgb(97, 20, 45);
  text-shadow: 1px 1px 2px black;
}
.main__service .service__container {
  text-align: center;
}
.main__service .service__container .service__card {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
  padding-top: 2rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  color: rgb(175, 119, 128);
  text-shadow: 1px 1px 2px black;
}
.main__service .service__container .service__card .service__card--img {
  width: 230px;
  height: 230px;
  border-radius: 100%;
  border: 2px solid rgb(209, 136, 148);
}
.main__service .service__container .service__card .service__card--info {
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main__service .service__container .service__card .service__card--info .service__card--name {
  font-size: 1.5rem;
}
.main__service .service__container .service__card .service__card--info .service__card--line {
  width: 20%;
  margin: 2rem;
  border: 1px solid;
  border-radius: 100%;
  color: rgb(131, 83, 98);
}
.main__service .service__container .service__card .service__card--info .service__card--description {
  padding: 0 0.5rem;
  text-align: left;
}
.main__service .service__container .box1 {
  background: rgb(219, 200, 200);
  border: 1px solid rgb(187, 185, 185);
}
.main__service .service__container .box2 {
  background: rgb(219, 191, 191);
  border: 1px solid rgb(168, 167, 167);
}

.nosotros__container {
  padding: 2rem 0;
  text-align: center;
  background: linear-gradient(to bottom, rgb(236, 226, 228), rgb(238, 173, 178));
}
.nosotros__container .nosotros__team,
.nosotros__container .nosotros__somos {
  padding: 2% 10%;
  /*seccion nosotros somos*/
}
.nosotros__container .nosotros__team .nosotros__team--titulo,
.nosotros__container .nosotros__team .nosotros__somos--titulo,
.nosotros__container .nosotros__somos .nosotros__team--titulo,
.nosotros__container .nosotros__somos .nosotros__somos--titulo {
  font-size: 3rem;
  font-weight: 600;
  color: rgb(97, 20, 45);
  text-shadow: 1px 1px 2px rgb(58, 56, 56);
}
.nosotros__container .nosotros__team .nosotros__container--card,
.nosotros__container .nosotros__somos .nosotros__container--card {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.nosotros__container .nosotros__team .nosotros__container--card .nosotros__team--card,
.nosotros__container .nosotros__somos .nosotros__container--card .nosotros__team--card {
  width: 100%;
  margin: 2rem;
  padding: 15% 2% 10% 2%;
  background: 1px solid rgb(223, 211, 211);
  box-shadow: 10px 10px 10px -5px rgb(179, 179, 179);
}
.nosotros__container .nosotros__team .nosotros__container--card .nosotros__team--card .nosotros__team--img,
.nosotros__container .nosotros__somos .nosotros__container--card .nosotros__team--card .nosotros__team--img {
  width: 100%;
  border: 1px solid rgb(223, 211, 211);
}
.nosotros__container .nosotros__team .nosotros__container--card .nosotros__team--card .nosotros__team--nombre,
.nosotros__container .nosotros__somos .nosotros__container--card .nosotros__team--card .nosotros__team--nombre {
  margin-top: 10%;
  font-size: 2rem;
  font-weight: 500;
  color: rgb(117, 72, 72);
  text-shadow: 1px 1px 2px rgb(66, 65, 65);
}
.nosotros__container .nosotros__team .nosotros__container--somos,
.nosotros__container .nosotros__somos .nosotros__container--somos {
  margin-bottom: 10%;
}
.nosotros__container .nosotros__team .nosotros__container--somos .nosotros__somos--titulo,
.nosotros__container .nosotros__somos .nosotros__container--somos .nosotros__somos--titulo {
  margin-bottom: 10%;
}
.nosotros__container .nosotros__team .nosotros__container--somos .nosotros__descripcion--somos,
.nosotros__container .nosotros__somos .nosotros__container--somos .nosotros__descripcion--somos {
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;
  margin-top: 3rem;
}
.nosotros__container .nosotros__team .nosotros__video--somos,
.nosotros__container .nosotros__somos .nosotros__video--somos {
  height: 250px;
  border: 1px solid rgb(97, 20, 45);
}

.galeria__container {
  padding: 2rem 0;
  text-align: center;
  background: linear-gradient(to bottom, rgb(241, 235, 236), rgb(238, 173, 178));
  color: rgb(97, 20, 45);
  text-shadow: 1px 1px 2px black;
}
.galeria__container .galeria__titulo {
  padding: 1rem 0;
}
.galeria__container .galeria__box {
  padding: 2rem;
}
.galeria__container .galeria__box .galeria__img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5019607843);
}

.Container__contacto {
  padding: 2rem 0;
  color: rgb(97, 20, 45);
  text-shadow: 1px 1px 2px black;
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../assets/contacto/depositphotos_317114954-stock-photo-closeup-of-nails-in-uv.webp);
  background-size: cover;
  background-position-y: 20%;
  background-position-x: center;
  background-position: center 20%;
}
.Container__contacto .form__container {
  display: flex;
  flex-direction: column;
}
.Container__contacto .form__container .form__titulo {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.Container__contacto .form__container .form__container .contenido__form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
  margin: 0 1rem;
  border-radius: 5%;
  border: 1px solid rgb(97, 20, 45);
}
.Container__contacto .form__container .form__container .contenido__form .form__label {
  width: 75%;
}
.Container__contacto .form__container .form__container .contenido__form .form__imput {
  width: 75%;
  margin-bottom: 1rem;
}
.Container__contacto .form__container .form__container .contenido__form .form__text {
  margin-top: 1rem;
  max-width: 75%;
  min-width: 75%;
  min-height: 150px;
  max-height: 200px;
}
.Container__contacto .form__container .form__container .contenido__form .form__btn {
  width: 30%;
  padding: 0.5rem 0;
  font-size: 1.2rem;
  color: rgb(97, 20, 45);
  border: 1px solid rgb(97, 20, 45);
  border-radius: 5%;
  margin-top: 1rem;
}
.Container__contacto .form__container .contenido__ubicacion {
  padding: 2.5rem 1rem 1rem;
  line-height: 3;
}
.Container__contacto .form__container .contenido__ubicacion .ubicacion__titulo {
  margin-bottom: 2rem;
  line-height: 1;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}
.Container__contacto .form__container .contenido__ubicacion .ubicacion__domicilio,
.Container__contacto .form__container .contenido__ubicacion .ubicacion__phone,
.Container__contacto .form__container .contenido__ubicacion .ubicacion__mail,
.Container__contacto .form__container .contenido__ubicacion .ubicacion__icono {
  color: black;
  margin-right: 1rem;
}
.Container__contacto .form__container .contenido__ubicacion .ubicacion__icono {
  font-size: 1.3rem;
}
.Container__contacto .preguntas__container {
  border: 1px solid rgb(97, 20, 45);
  border-radius: 5%;
  padding: 1rem;
  margin: 0 1rem;
}
.Container__contacto .preguntas__container .preguntas__titulo {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.Container__contacto .preguntas__container .pregunta {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.Container__contacto .preguntas__container .respuesta {
  color: rgb(43, 41, 41);
  padding: 0 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  header .container {
    flex-direction: row;
    justify-content: space-between;
  }
  header .container__logo {
    width: 100%;
    text-align: left;
    padding-left: 1rem;
  }
  header .container__logo--img {
    width: 50%;
  }
  header .container .nav__list--items {
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
  }
  header .container .nav__list--items-li {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .main__index .portada .portada__titulo {
    font-size: 5rem;
  }
  .main__index .service__container--index {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .main__index .service__container--index .service__card--index {
    margin: 1rem 0.5rem;
  }
  .main__index .service__container--index .service__card--index .service__card--imgIndex {
    width: 200px;
    height: 200px;
  }
  .main__service .service__titulo {
    font-size: 3rem;
  }
  .main__service .service__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .main__service .service__container .service__card {
    width: 80%;
    margin: 1rem 0.5rem;
  }
  .main__service .service__container .service__card .service__card--img {
    width: 400px;
    height: 400px;
  }
  .main__service .service__container .service__card .service__card--info .service__card--name {
    font-size: 2rem;
  }
  .nosotros__container {
    /*seccion nosotros somos*/
  }
  .nosotros__container .nosotros__team {
    display: flex;
    flex-direction: column;
    padding: 2%;
  }
  .nosotros__container .nosotros__team .nosotros__container--card {
    display: flex;
    flex-direction: row;
  }
  .nosotros__container .nosotros__team .nosotros__container--card .nosotros__team--card {
    margin: 1rem;
    padding: 8% 1% 5% 1%;
  }
  .nosotros__container .nosotros__somos {
    padding: 5rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nosotros__container .nosotros__somos .nosotros__container--somos {
    width: 50%;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
  }
  .nosotros__container .nosotros__somos .nosotros__container--somos .nosotros__somos--titulo {
    text-align: left;
    margin-bottom: 2rem;
  }
  .nosotros__container .nosotros__somos .nosotros__container--somos .nosotros__descripcion--somos {
    margin-top: 0;
  }
  .galeria__container .galeria__box {
    display: flex;
    flex-wrap: wrap;
  }
  .galeria__container .galeria__box .galeria__img {
    margin: 1rem;
    flex: 1 1 25%;
  }
  .Container__contacto .form__container .form__titulo {
    font-size: 3rem;
  }
  .Container__contacto .form__container .form__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .Container__contacto .form__container .form__container .contenido__form {
    width: 50%;
  }
  .Container__contacto .form__container .form__container .contenido__ubicacion {
    padding: 0 1rem;
    line-height: 3;
  }
  .Container__contacto .form__container .form__container .contenido__ubicacion .ubicacion__titulo {
    margin-bottom: 1.5rem;
  }
  .Container__contacto .preguntas__container .preguntas__titulo {
    font-size: 2rem;
  }
  footer {
    font-size: 1.5rem;
    font-weight: 600;
  }
}
@media (min-width: 1024px) {
  header {
    padding: 1%;
  }
  header .container__logo--img {
    width: 30%;
  }
  header .container .nav__list--items {
    padding: 0.5rem 1rem;
  }
  header .container .nav__list--items-li {
    font-size: 1.5rem;
  }
  .main__index .portada .portada__img {
    height: 600px;
  }
  .main__index .service__container--index .service__card--index {
    max-width: 30%;
    flex: 1 1 30%;
  }
  .main__index .service__container--index .service__card--index .service__card--imgIndex {
    width: 200px;
    height: 200px;
  }
  .main__service .service__container {
    padding: 0 5rem;
    flex-direction: row;
    justify-content: center;
  }
  .main__service .service__container .service__card {
    width: 35%;
    margin: 0.5rem;
  }
  .main__service .service__container .service__card .service__card--img {
    width: 250px;
    height: 250px;
    /*border: map-get($bordes , borde-3);*/
  }
  .main__service .service__container .service__card .service__card--info .service__card--name {
    font-size: 1.5rem;
  }
  .nosotros__container .nosotros__somos {
    margin: 0 2rem;
  }
  .nosotros__container .nosotros__somos .nosotros__conatiner--video {
    width: 45%;
  }
  .Container__contacto .form__container .form__titulo {
    font-size: 3.5rem;
  }
  .Container__contacto .form__container .form__container .contenido__ubicacion {
    width: 50%;
  }
  footer .footer__container .icono__redes {
    padding-left: 2rem;
  }
}
@media (min-width: 1200px) {
  header .container__logo--img {
    width: 20%;
  }
  header .container .nav__list--items {
    margin: 0 1.5rem;
  }
  header .container .nav__list--items-li {
    font-size: 1.5rem;
  }
  .main__index .service__container--index .service__card--index {
    max-width: 30%;
    flex: 1 1 5%;
  }
  .main__index .service__container--index .service__card--index .service__card--imgIndex {
    width: 230px;
    height: 230px;
  }
  .nosotros__container .nosotros__somos {
    margin: 0 2rem;
  }
  .nosotros__container .nosotros__somos .nosotros__container--somos .nosotros__descripcion--somos {
    font-size: 1.2rem;
    line-height: 2;
  }
  .nosotros__container .nosotros__somos .nosotros__conatiner--video {
    width: 40%;
  }
  .nosotros__container .nosotros__somos .nosotros__conatiner--video .nosotros__video--somos {
    height: 350px;
  }
  .galeria__container {
    font-size: 1.5rem;
  }
  .galeria__container .galeria__box .galeria__img {
    flex: 1 1 20%;
  }
  .Container__contacto {
    padding: 2rem 5rem;
  }
}

/*# sourceMappingURL=style.css.map */
