.contacto {
  padding: 2rem 0;
  color: map-get($color-text, text-1);
  text-shadow: map-get($sombras, sombraText-2);
  background: map-get($fondos, degrade3), $img-fondo1;
  @include centrado-fondo-img(cover, 20%, center, center 20%);
  .form {
    @include flexDirection(column);
    &__titulo {
      text-align: center;
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }
    &__container {
      &--info{
        @include flex-col-center;
        @include estilos(0 1rem, 2rem 0, 5%);
        border: map-get($bordes, borde-6);
        &-label {
          width: 75%;
        }
        &-input {
          width: 75%;
          margin-bottom: 1rem;
        }
        &-textarea {
          margin-top: 1rem;
          max-width: 75%;
          min-width: 75%;
          min-height: 150px;
          max-height: 200px;
        }
        &-btn {
          margin-top: 1rem;
          @include medida-btn(30%, 1.2rem, .5rem 0, 5%);
          color: map-get($color-text, text-1);
          border: map-get($bordes, borde-6);
        }
      }
      &--ubicacion {
        padding: 2.5rem 1rem 01rem;
        line-height: 3;
        &-titulo {
          line-height: 1;
          font-weight: 600;
          font-size: 2.5rem;
          text-align: center;
          margin-bottom: 2rem;
        }
        &-domicilio,
        &-phone,
        &-mail {
          color: map-get($color-text, text-9);
        }
        &-mapa{
          margin-top: 2rem;
        }
        .icono {
          margin-right: 1rem;
          font-size: 1.3rem;
        }
      }
    }

  }
  .preguntas {
    border: map-get($bordes, borde-6);
    @include estilos(0 1rem, 1rem, 2%);
    &__titulo {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
    &__pregunta {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }
    &__respuesta {
      color: map-get($color-text, text-10);
      padding: 0 1rem;
      margin-bottom: 1rem;
    }
  }
}

