header {
  top: 0;
  z-index: 2;
  position: sticky;
  padding: 1.5%;
  box-shadow: map-get($sombras, sombraBox-5);
  background: map-get($fondos, fondo-3);
  .container {
    text-align: center;
    @include flex-col-center;
    &__logo {
      &--img {
        width: 20%;
        border-radius: 100%;
      }
    }
    .nav {
      &__list {
        @include flex-content (space-around);
        &--items {
          padding: 0.5rem;
          list-style: none;
          &-li {
            text-decoration: none;
            color: map-get($color-text, text-4);
            text-shadow: map-get($sombras, sombraText-1);
            &:hover {
              color: $hover-1;
            }
          }
        }
      }
    }
  }
}
