.nosotros {
  padding: 2rem 0;
  text-align: center;
  background: map-get($fondos, degrade2);
  .team {
    padding: 2% 10%;
    &__titulo {
      font-size: 3rem;
      font-weight: 600;
      color: map-get($color-text, text-1);
      text-shadow: map-get($sombras, sombraText-1);
    }
    &__cards {
      @include flex-col-center;
      .team__card {
        width: 100%;
        margin: 2rem;
        padding: 15% 2% 10% 2%;
        /*--- animacion ----*/
        animation: from-right 2s ease;
        background: map-get($bordes, borde-5);
        box-shadow: map-get($sombras, sombraBox-4);
        &--img {
          width: 100%;
          border: map-get($bordes, borde-5);
        }
        &--nombre {
          margin-top: 10%;
          font-size: 2rem;
          font-weight: 500;
          color: map-get($color-text, text-3);
          text-shadow: map-get($sombras, sombraText-4);
        }
      }
    }
  }
  .somos {
    padding: 2% 10%;
    margin-bottom: 10%;
    &__container--info {
      &-titulo {
        font-size: 3rem;
        font-weight: 600;
        margin-bottom: 10%;
        color: map-get($color-text, text-1);
        text-shadow: map-get($sombras, sombraText-1);
      }
      &-descripcion {
        font-size: 1rem;
        line-height: 1.5;
        text-align: left;
        margin-top: 3rem;
      }
    }
    &__container--video {
      &-iframe {
        height: 250px;
        margin-top: 2rem;
        border: map-get($bordes, borde-6);
      }
    }
  }
}


