@media (min-width: 768px) {
  header {
    .container {
      .nav {
        #icon,
        #check {
          display: none;
        }
        &__list {
          top: 2.5%;
          padding-right: 1rem;
          background: none;
          @include flex-content(right);
          &--items {
            padding: 0 1rem;
            &-li {
             color: map-get($color-text, text-4);
            }
          }
        }
        #check:checked ~ ul {
          /*animation: from-right 2s ease;*/
          transition: none;
        }
      }
    }
  }
  .home {
    &__portada {
      &--titulo {
        font-size: 5rem;
      }
    }
    &__container {
      @include flex-center(wrap);
      &--card {
        margin: 1rem 0.5rem;
        &-img {
          width: 200px;
          height: 200px;
        }
      }
    }
  }
  .service {
    &__titulo {
      font-size: 3rem;
    }
    &__container {
      @include flex-col-center;
      &--card {
        width: 80%;
        margin: 1rem 0.5rem;
        &-img {
          width: 400px;
          height: 400px;
        }
        &-info {
          .service__card--name {
            font-size: 2rem;
          }
        }
      }
    }
  }
  .nosotros {
    .team {
      @include flexDirection(column);
      padding: 2%;
      &__cards {
        @include flexDirection(row);
        .team__card {
          margin: 1rem 0.5rem;
          padding: 8% 1% 5% 1%;
        }
      }
    }
    .somos {
      padding: 5rem 0 0 0;
      @include flex-alingItems-justify;
      &__container--info {
        width: 50%;
        margin-right: 2rem;
        @include flexDirection(column);
        &-titulo {
          text-align: left;
          margin-bottom: 2rem;
        }
        &-descripcion {
          margin-top: 0;
        }
      }
    }
  }
  .galeria {
    &__box {
      display: flex;
      flex-wrap: wrap;
      &--img {
        margin: 1rem;
        flex: 1 1 25%;
      }
    }
  }
  .contacto {
    .form {
      &__titulo {
        font-size: 3rem;
      }
      &__container {
        @include flex(row, center);
        margin-bottom: 2rem;
        &--info {
          width: 50%;
        }
        &--ubicacion {
          padding: 0 1rem;
          line-height: 3;
          &-titulo {
            margin-bottom: 1.5rem;
          }
        }
      }
    }
    .preguntas {
      &__titulo {
        font-size: 2rem;
      }
    }
  }
  footer {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

@media (min-width: 1024px) {
  header {
    .container {
      .nav {
        .nav__list {
          .nav__list--items {
            .nav__list--items-li {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
  .home {
    &__portada {
      &-img {
        height: 600px;
      }
    }
    &__container {
      &--card {
        max-width: 30%;
        flex: 1 1 30%;
        &-img {
          width: 200px;
          height: 200px;
        }
      }
    }
  }
  .service {
    &__container {
      padding: 0 5rem;
      @include flexDirectionJustify(row, center);
      &--card {
        width: 35%;
        margin: 0.5rem;
        &-img {
          width: 250px;
          height: 250px;
          /*border: map-get($bordes , borde-3);*/
        }
        &-info {
          .service__card--name {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
  .nosotros {
    .somos {
      margin: 0 2rem;
      &__container--video {
        width: 45%;
      }
    }
  }
  .contacto {
    .form {
      &__titulo {
        font-size: 3.5rem;
      }
      &__container {
        &--ubicacion {
          width: 50%;
        }
      }
    }
  }
  footer {
    .footer__container {
      &--redes {
        padding-left: 2rem;
      }
    }
  }
}

@media (min-width: 1200px) {
  header {
    padding:  1% 1.5%;
    .container {
      .nav {
        .nav__list {
          top: 3%;
          .nav__list--items {
            padding: 0 1.5rem;
            .nav__list--items-li {
              font-size: 1.7rem;
            }
          }
        }
      }
    }
  }
  .home {
    &__portada {
      &--img {
        height: 550px;
      }
    }
    &__container {
      &--card {
        max-width: 30%;
        flex: 1 1 5%;
        &-img {
          width: 230px;
          height: 230px;
        }
      }
    }
  }
  .nosotros {
    .somos {
      &__container--info {
        &-descripcion {
          font-size: 1.2rem;
          line-height: 2;
        }
      }
      &__container--video {
        &-iframe {
          width: 130%;
          height: 300px;
        }
      }
    }
  }
  .galeria {
    font-size: 1.5rem;
    &__box {
      &--img {
        flex: 1 1 20%;
      }
    }
  }
  .contacto {
    padding: 2rem 5rem;
  }
}
